{% extends "services/base.html" %}

{% block content %}

    <div align="center" class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">详 情</h1>
    </div>
    <div class="container">

<!--      <div class="text-center" >-->
<!--          {% for merge in merges %}-->
<!--              <span>{{ merge.text }} <br /></span>-->
<!--          {% endfor %}-->
<!--      </div>-->
<!--      <br/>-->

<!--      <div class="row">-->
<!--        <div class="col"></div>-->
<!--      <div id="pages" class="text-center">-->
<!--          <nav aria-label="...">-->
<!--              <ul class="pagination">-->
<!--                  <li class="page-item">-->
<!--                    {% if merges.has_previous %}-->
<!--                    <a class="page-link" href="?page={{ merges.previous_page_number }}">上一页</a>-->
<!--                     {% endif %}-->
<!--                  </li>-->
<!--                <li class="page-item">-->
<!--                  <a class="page-link">Page {{ merges.number }} of {{ merges.paginator.num_pages }}</a>-->
<!--                </li>-->
<!--                  <li class="page-item">-->
<!--                    {% if merges.has_next %}-->
<!--                    <a class="page-link" href="?page={{ merges.next_page_number }}">下一页</a>-->
<!--                    {% endif %}-->
<!--                  </li>-->
<!--              </ul>-->
<!--          </nav>-->
<!--      </div>-->
<!--        <div class="col"></div>-->
<!--      </div>-->
        <br/>
        <br/>
        <div class="progress">
          <div id="processBar" class="progress-bar bg-success" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-2">
                <span style="background:#33CC99;color:white;font-size: large;">位置和类型一致</span>
                <br/>
                <span style="background:#FFCC00;color:white;font-size: large;">类型不一致</span>
                <br/>
                <span style="background:#FF3333;color:white;font-size: large;">只有标注实体</span>
                <br/>
                <span style="background:#209CEE;color:white;font-size: large;">只有预测实体</span>
            </div>
            <div class="col-10">
                <div class="shadow p-3 mb-5 bg-white rounded" style="height: 400px">
              <span id="showText" class="text-monospace" style="font-size: x-large;"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div align="center" class="col-3">
                <button type="button" class="btn btn-primary" onclick="previous()">上一页</button>
            </div>
            <div align="center" class="col-4">
                <button id="num_page" type="button" class="btn" style="font-size: large"></button>
            </div>
            <div align="center" class="col-3">
                <button type="button" class="btn btn-primary" onclick="next()">下一页</button>
            </div>
        </div>
      <br/>


      <!-- 显示文件名 -->
      <script>
        var page = 0;
        var total = 0;
        var process_bar = document.getElementById("processBar");
        var result = {{ result|safe }};
        page = result["page"];
        total = result["total"];
        console.log(result);
        if (total === 0){
            process_bar.style.width = "0%";
        }
        else{
            var pos = 100 * (page + 1) / total;
            process_bar.style.width = pos.toString() + "%";
        }

        $("#showText").html(result["text"]);
        $("#num_page").html((page + 1).toString() + "/" + total.toString() + "页");

        function previous() {
            page = page - 1;
            search();
        }

        function next() {
            page = page + 1;
            search();
        }

        function search() {
            $.ajax({
                url:"{% url 'services:change' %}",
                type:"GET",
                data:{"page": page},
                success:function (arg) {
                  $("#showText").html(arg["text"]);
                  total = arg["total"];
                  if (total > 0){
                      var pos = 100 * page / total;

                      process_bar.style.width = pos.toString() + "%";
                      if (total === 0){
                            process_bar.style.width = "0%";
                        }
                        else{
                            pos = 100 * (page + 1) / total;
                            process_bar.style.width = pos.toString() + "%";
                        }
                  }
                  $("#num_page").html((page + 1).toString() + "/" + total.toString() + "页");
                },
                // processData: false,//通过FormData处理数据 jQuery上传文件必须要加这个 tell jQuery not to process the data
                contentType:false,//通过FormData处理数据 jQuery上传文件必须要加这个 tell jQuery not to set contentType
                //以上表示jQuery data数据内容不需要做处理了,把FormData内容发过去给服务器就可以了
            });
        }

      </script>
    </div>

{% endblock %}
