{% extends "services/base.html" %}

{% block content %}




    <div align="center" class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">概 览</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="input-group">
            <div class="custom-file">
              <input name="gold_file" onchange="showFilename1(this.files[0])" type="file" class="custom-file-input" id="gold_file" aria-describedby="inputGroupFileAddon04">
              <label id="filename1" class="custom-file-label" for="gold_file">Choose file</label>
            </div>
          </div>
        </div>

        <div class="col">
          <button id="upload1" style="padding: 5px" onclick="AjaxSubmitGoldFile()" class="btn btn-primary">Upload</button>
        </div>

        <div class="col-2"></div>

        <div class="col-4">
          <form enctype="multipart/form-data" action="{% url 'services:upload' %}" method="post">
          <div class="input-group">
            <div class="custom-file">
              <input name="pred_file" onchange="showFilename2(this.files[0])" type="file" class="custom-file-input" id="pred_file" aria-describedby="inputGroupFileAddon04">
              <label id="filename2" class="custom-file-label" for="pred_file">Choose file</label>
            </div>
          </div>
          </form>
        </div>

        <div class="col">
          <button id="upload2" style="padding: 5px" onclick="AjaxSubmitPredFile()" class="btn btn-primary">Upload</button>
        </div>
      </div>

      <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      </div>

      <br/>
      <div class="row">
        <div class="col">
          <div id="gold_pie" style="align: center; width: 500px;height:500px;"></div>
        </div>
        <div class="col">
          <div id="pred_pie" style="align: center; width: 500px;height:500px;"></div>
        </div>
      </div>

      <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      </div>

      <div class="row">
        <div class="col">
          <div id="bar" style="align: center; width: 1200px;height:400px;"></div>
        </div>
      </div>


      <!-- 显示文件名 -->
      <script>

        function showFilename1(file){
            $("#filename1").html(file.name);
        }
        function showFilename2(file){
            $("#filename2").html(file.name);
        }

        var myBar = echarts.init(document.getElementById('bar'));
        var myGoldPie = echarts.init(document.getElementById('gold_pie'));
        var myPredPie = echarts.init(document.getElementById('pred_pie'));

        var predLabel = {}
        var goldLabel = {}

        // 2.指定图表的配置项和数据 放在option对象里面
        var barOption = {
               title: {
                text: '类别条形图'
              },
              legend: {},
              tooltip: {},
              dataset: {
                  source: [
                      ['类别', '标注', '预测']
                  ]
              },
              xAxis: {type: 'category'},
              yAxis: {},
              // Declare several bar series, each will be mapped
              // to a column of dataset.source by default.
              series: [
                  {type: 'bar'},
                  {type: 'bar'}
              ]
          };

        // 指定图表的配置项和数据 放在option对象里面
          var goldPieOption = {
            title: {
              text: '标注文件饼状图',
              subtext: '类别-数目',
              x: 'center'
            },
            tooltip: {
              trigger: 'item',
              formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
              x: 'center',
              y: 'bottom',
              data: []
            },
            toolbox: {
              show: true,
              feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                magicType: {
                  show: true,
                  type: ['pie', 'funnel']
                },
                restore: { show: true },
                saveAsImage: { show: true }
              }
            },
            calculable: true,
            series: [
              {
                name: '数目',
                type: 'pie',
                radius: [20, 110],
                center: ['50%', '50%'],
                roseType: 'radius',
                label: {
                  normal: {
                    show: false
                  },
                  emphasis: {
                    show: true
                  }
                },
                lableLine: {
                  normal: {
                    show: false
                  },
                  emphasis: {
                    show: true
                  }
                },
                data: []
              }
            ]
          };

        var predPieOption = {
          title: {
            text: '预测文件饼状图',
            subtext: '类别-数目',
            x: 'center'
          },
          tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
          },
          legend: {
            x: 'center',
            y: 'bottom',
            data: []
          },
          toolbox: {
            show: true,
            feature: {
              mark: { show: true },
              dataView: { show: true, readOnly: false },
              magicType: {
                show: true,
                type: ['pie', 'funnel']
              },
              restore: { show: true },
              saveAsImage: { show: true }
            }
          },
          calculable: true,
          series: [
            {
              name: '数目',
              type: 'pie',
              radius: [10, 110],
              center: ['50%', '50%'],
              roseType: 'radius',
              label: {
                normal: {
                  show: false
                },
                emphasis: {
                  show: true
                }
              },
              lableLine: {
                normal: {
                  show: false
                },
                emphasis: {
                  show: true
                }
              },
              data: []
            }
          ]
        };

        function AjaxSubmitGoldFile() {
            var data = document.getElementById("gold_file").files[0];//加上索引files[0]就是文件的内容,固定写法
            var f = new FormData();
            f.append('gold_file',data);
            $.ajax({
                url:"{% url 'services:upload' %}",
                type:"POST",
                data:f,
                success:function (arg) {
                    var gold_dict = arg["gold"]
                    if (gold_dict){
                      goldPieOption["legend"]["data"] = []
                      goldPieOption["series"][0]["data"] = []
                      for (var key in gold_dict){
                        goldLabel[key] = gold_dict[key]
                        goldPieOption["legend"]["data"].push(key)
                        goldPieOption["series"][0]["data"].push({"name": key, "value": goldLabel[key]})
                        if(predLabel[key]) {
                          barOption["dataset"]["source"].push([key, goldLabel[key], predLabel[key]])
                        }
                        else {
                          barOption["dataset"]["source"].push([key, goldLabel[key], 0])
                        }
                      }
                      myGoldPie.setOption(goldPieOption);
                      myBar.setOption(barOption)
                    }
                },
                processData: false,//通过FormData处理数据 jQuery上传文件必须要加这个 tell jQuery not to process the data
                contentType:false,//通过FormData处理数据 jQuery上传文件必须要加这个 tell jQuery not to set contentType
                //以上表示jQuery data数据内容不需要做处理了,把FormData内容发过去给服务器就可以了
            })
        }

        function AjaxSubmitPredFile() {
            var data = document.getElementById("pred_file").files[0];//加上索引files[0]就是文件的内容,固定写法
            var f = new FormData();
            f.append('pred_file',data);
            $.ajax({
                url:"{% url 'services:upload' %}",
                type:"POST",
                data:f,
                success:function (arg) {
                  var pred_dict = arg["pred"]
                  if (pred_dict){
                    predPieOption["legend"]["data"] = []
                    predPieOption["series"][0]["data"] = []
                    for (var key in pred_dict){
                        predLabel[key] = pred_dict[key]
                        predPieOption["legend"]["data"].push(key)
                        predPieOption["series"][0]["data"].push({"name": key, "value": predLabel[key]})
                        if(goldLabel[key]) {
                          barOption["dataset"]["source"].push([key, goldLabel[key], predLabel[key]])
                        }
                        else{
                          barOption["dataset"]["source"].push([key, 0, predLabel[key]])
                        }
                    }

                    myPredPie.setOption(predPieOption);
                    myBar.setOption(barOption)
                  }
                },
                processData: false,//通过FormData处理数据 jQuery上传文件必须要加这个 tell jQuery not to process the data
                contentType:false,//通过FormData处理数据 jQuery上传文件必须要加这个 tell jQuery not to set contentType
                //以上表示jQuery data数据内容不需要做处理了,把FormData内容发过去给服务器就可以了
            })
        }

      </script>
    </div>

{% endblock %}
